.label-ada {
    background-color: rgb(17, 182, 17);
    color: white;
    height: 25px;
    width: 70px;
    font-weight: bold;
    padding: 1px 10px 1px 10px;
}

.label-kosong {
    background-color: rgb(223, 69, 69);
    color: white;
    height: 25px;
    width: 70px;
    font-weight: bold;
    padding: 1px 10px 1px 10px;
}

.harga {
    border: 1px solid rgb(216, 213, 213);
    margin-bottom: 10px;
    padding: 3px 6px 3px 6px;
}

.hover:hover {
    background-color: #fcc9b7;
    border-radius: 10px;
    margin: 1px;
}

.aktif {
    background-color: #fcc9b7;
    border-radius: 10px;
    margin-left: 2px;
}
